/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css*/
.my-3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.full-width-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 1em;
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 1.2em;
    color: #aaa;
    background-color: #f9f9f9;
    text-align: center;
}

.btn-inline {
    display: inline-block;
    width: auto;
}

.btn-primary {
    background-color: olive;
    color: white;
}

.pointer {
    cursor: pointer !important;
}

.pointer:hover {
    opacity: 0.7;
}

.pointer:active {
    outline: none;
}

/*3rd css*/

* {
    box-sizing: border-box;
}


.my-3 {
    margin-top: 12px;
    margin-bottom: 12px;
}



.width-input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 1em;
    resize: none;
}
.btn{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 1.2em;
    color: #aaa;
    background-color: #f9f9f9;
    text-align: center;
}
.btn-inline{
    display: inline-block;
    width: auto;
}
.btn-primary{
    background-color: olive;
    color: white;
}
.cursor{
    cursor: pointer !important;
}
.cursor :hover{
    opacity: 0.7;
}
cursor:active{
    outline: none;
}


*{
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-photo/weather-effects-composition_23-2149853295.jpg?w=826&t=st=1677256512~exp=1677257112~hmac=ae31565d1fabd2aa25cdc815ee4c1bf9f43f644fe1dff118258d09764c1c527d");
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    display: flex;
    justify-content:space-between;
    height: 50px;
    padding: 8px 20px ;
    background-color: rgba(64,144,172,0.65);
    color: white;
}
 .nav .cursor:hover {
    opacity: 0.75;
 }
 .nav >*{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .nav .menubar > *, .nav .response > *{
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    margin: 0px 4px;
    background-color: rgba( 64, 144, 172, 1 );
}
.nav .menubar{
    justify-content: flex-start;
}
.nav .menuinput {
    background-color: transparent;
    padding: 0;
}
.nav .menuinput input {
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    color: white;
    font-size: 1.15em;
    line-height: 1.4;
    color: black;
}
.nav .menuinput input:focus {
    background-color: white;
}
.nav .title {
    justify-content: space-around;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.3em;
}

.nav .response{
    justify-content: flex-end;
}

.container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.menu {
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: black;
    background-color: rgba( 128, 128, 128, 0.3 );
    color: white;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
    overflow-x: hidden;
}

.board {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    margin-top: 20px;
    padding: 84px 20px 20px;
}

.task-wrapper {
    flex-shrink: 0;
    flex-basis: 240px;
    max-height: 100%;
    overflow: hidden;
}
.list {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba( 240, 240, 240, 0.9 );
}
.title-container {
    display: flex;
    justify-content: space-between;
}

.list-title {
    margin: 4px;
    font-weight: bold;
}
.list-more {
    margin: 0 4px;
}

.task {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}

.task .edit {
    float: right;
    display: none;
}

.task:hover .edit {
    display: inline;
}

.add-card-message, .add-list-message {
    margin-bottom: 4px 0 8px;
}

.list .task, .list input, .list textarea, .list button {
    border-radius: 4px;
}

input, textarea {
    border: none;
    outline: none;
}

.add-card-form-actions, .add-list-form-actions {
    margin: 10px 0;
}

.add-card-button, .add-list-button {
    margin-right: 8px;
}

.add-card-cancel, .add-list-cancel {
    position: relative;
    top: 3px;
}